@charset 'utf-8';

.books {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  }

  .books .book{
    display: inline-block;
    position: relative;
    float: none;
    width: 100%;
    margin: 2vw 0;
    padding: 11vw 8vw 6.7vw;
    border-radius: 8px;
    box-shadow: 0 2px 6px 0 rgba(0,0,0,0.1);
    background-color: white;
    
  }
  .books .book *, .books .book .book__data * {
    min-width: 300px;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .book img {
    display: block;
    margin-bottom: 64px;
  }

  .book .book__title {
    font-size: 34px;
    font-weight: 600;
    line-height: 1.30968;
    letter-spacing: .011em;
    margin-top: 20px;
  }

  .book .book__authors {
    margin-top: 24px;
    font-size: 30px;
    color: #585858;
    line-height: 1.61765;
    letter-spacing: 0em;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  @media screen and (min-width: 768px) {
 
    .books {
      display: flex;
      justify-content: center;
      max-width: 2440px;
      flex-wrap: wrap;
      padding: 50px;
      padding-top: 70px;
      width: 100%;
      padding: 11vw 5vw 6.7vw;

    }
    .books .book{
      width: 18%;
      min-width: 512px;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-content: flex-start;
      align-items: flex-start;
      justify-content: flex-start;
      font-weight: 300;
      padding: 20px;
      flex-basis: 400px;
      margin: 0.5vw 0.5vw;

    }

    .book img {
      display: flex;
      justify-content: center;
    }
  }
